@import "culori";
@import "mixinuri";
@import "header";
@import "footer";
body {
    font-family: 'Open Sans';
    margin: 0px;
}

header {
    padding: 28px 94px;
    display: block;
    text-align: center;
    a {
        display: inline-block;
        float: left;
    }
    img {
        float: left;
        display: inline-block;
    }
    h1 {
        display: inline-block;
        margin: 0;
    }
    #headerbtn {
        display: non;
    }
}

main {
    display: flex;
    justify-content: center;
    min-height: 851px;
    .boxOne {
        @include flex(flex, column, none, nowrap, center);
        background-color: $mainBackground;
        min-height: 850px;
        color: $textColorForm;
        padding: 0 150px;
        p {
            padding-left: 5px;
            margin: 0;
            @include tipografie(20px, 700, 27px, black)
        }
        h1 {
            @include tipografie(48px, 700, 65px, $textColorForm)
        }
        .title {
            padding-bottom: 30px;
        }
        .suummarytext {
            display: flex;
            .dateSucces {
                display: flex;
            }
        }
    }
}