$footerColor:#707070;
$mainBackground:#F4F5F8;
$cookies: #FFFFFF;
$textcolor: #FFFFFF;
$headerBackground:#003C55;
$buttonJoinColor: #FCD400;
$textColorButton:#000000;
$cookies:#FFFFFF;
$textColorForm:#003C55;
$colorAlert:#FF0000;